# CONFIG_XIP is not set
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_NS16550_ACCESS_WORD_ONLY=y
CONFIG_LOG_FUNC_NAME_PREFIX_INF=y
CONFIG_REBOOT=y
CONFIG_CRYPTO=y
CONFIG_CPTRA_ECDSA=y
CONFIG_CPTRA_SHA=y
CONFIG_CPTRA_UPDATE=y
CONFIG_CPTRA_IFC=y
CONFIG_CPTRA_MBOX=y
CONFIG_CPTRA_LMS=y
CONFIG_ENTROPY_GENERATOR=y
CONFIG_ENTROPY_ASPEED_TRNG=y
