# CONFIG_XIP is not set
CONFIG_SYS_CLOCK_EXISTS=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_NS16550_ACCESS_WORD_ONLY=y
CONFIG_SHELL_PROMPT_UART="bootmcu:~$ "
CONFIG_LOG_FUNC_NAME_PREFIX_INF=y
CONFIG_REBOOT=y
CONFIG_CRYPTO=y
CONFIG_CPTRA_ECDSA=y
CONFIG_CPTRA_SHA=y
CONFIG_CPTRA_UPDATE=y
CONFIG_CPTRA_IFC=y
CONFIG_FLASH=y
CONFIG_SPI=y
CONFIG_SPI_NOR_MULTI_DEV=y
CONFIG_SPI_ASPEED_AST2700=y
CONFIG_FLASH_PAGE_LAYOUT=y
# CONFIG_SPI_NOR is not set
CONFIG_FLASH_MAP=y
CONFIG_WATCHDOG=y
CONFIG_WDT_ASPEED_G7=y
CONFIG_CLOCK_CONTROL=y
CONFIG_CLOCK_CONTROL_AST27XX=y
CONFIG_RESET=y
CONFIG_RESET_AST27XX=y
CONFIG_ENTROPY_GENERATOR=y
CONFIG_ENTROPY_ASPEED_TRNG=y
