/*
 * Copyright (c) 2024 Aspeed Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <aspeed/ast27xx.dtsi>

/ {
	model = "AST2700-EVB AST2700-BOOTMCU";
	compatible = "aspeed,ast2700-evb-ast2700-bootmcu";

	chosen {
		zephyr,console = &uart12;
		zephyr,shell-uart = &uart12;
		zephyr,sram = &sram;
		zephyr,entropy = &rng;
	};

	aliases {
		systick = &systick;
		emmc = &emmc;
	};

	sram: memory@14ba8000 {
		reg = <0x14ba8000 0x17800>;
	};
};

&uart12 {
	status = "okay";
	clock-frequency = <1846153>;
	current-speed = <115200>;
};

#if 0
&ipc_s_ca35 {
	status = "okay";
};

&ipc_ns_ca35 {
	status = "okay";
};
#endif

&ipc_ssp {
	status = "okay";
};

#if 0
&ipc_tsp {
	status = "okay";
};
#endif

&cptra_ecdsa {
	status = "okay";
};

&cptra_sha {
	status = "okay";
};

&cptra_lms {
	status = "okay";
};

&cptra_update {
	status = "okay";
};
