/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2023 ASPEED Technology Inc.
 */

#include <arm/armv7-m.dtsi>
#include <mem.h>
#include <aspeed/ast10x0-g2-irq.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/clock/ast27xx_clock.h>
#include <zephyr/dt-bindings/reset/ast27xx_reset.h>
#include <zephyr/dt-bindings/pinctrl/ast10x0-g2-pinctrl-groups.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4f";
			reg = <0>;
		};
	};

	dram_ro_region: memory@0 {
		device_type = "memory";
	};

	soc {
		syscon: syscon@74c02000 {
			compatible = "syscon";
			reg = <0x74c02000 0x1000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;
			sysrst: reset-controller {
				compatible = "aspeed,ast10x0-g2-reset", "aspeed,ast27xx-reset";
				#reset-cells = <1>;
			};

			sysclk: system-clock {
				compatible = "aspeed,ast10x0-g2-clock", "aspeed,ast27xx-scu1-clock";
				#clock-cells = <1>;
			};

			adc_clk: adc_clk {
				#clock-cells = <0>;
				compatible = "fixed-factor-clock";
				clocks = <&sysclk SCU1_CLK_APB>;
				clock-mult = <1>;
				clock-div = <2>;
			};

			pinctrl: pinctrl {
				compatible = "aspeed,ast10x0-g2-pinctrl", "aspeed,g7-soc1-pinctrl";
			};
		};

		uart12: serial@74c33c00 {
			compatible = "ns16550";
			reg = <0x74c33c00 0x100>;
			interrupts = <INTR_UART12 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			reg-shift = <2>;
		};

		adc0: adc@74c00000 {
			compatible = "aspeed,adc";
			reg = <0x74c00000 0x100>;
			clocks = <&adc_clk>;
			resets = <&sysrst SCU1_RESET_ADC>;
			interrupts = <INTR_ADC AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			#io-channel-cells = <1>;
			aspeed,scu = <&syscon>;
			aspeed,trim-data-locate = <0x9A0 0xf>;
			status = "disabled";
		};

		adc1: adc@74c00100 {
			compatible = "aspeed,adc";
			reg = <0x74c00100 0x100>;
			clocks = <&adc_clk>;
			resets = <&sysrst SCU1_RESET_ADC>;
			interrupts = <INTR_ADC AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			#io-channel-cells = <1>;
			aspeed,scu = <&syscon>;
			aspeed,trim-data-locate = <0x9A0 0xf0>;
			status = "disabled";
		};

		pwm_tach: pwm_tach@740c0000 {
			reg = <0x740c0000 0x100>;
			pwm: pwm {
				compatible = "aspeed,pwm";
				#pwm-cells = <3>;
				npwms = <16>;
				clocks = <&sysclk SCU1_CLK_AHB>;
				resets = <&sysrst SCU1_RESET_PWM>;
				status = "disabled";
			};
			tach: tach {
				compatible = "aspeed,tach";
				#address-cells = <1>;
				#size-cells = <0>;
				clocks = <&sysclk SCU1_CLK_AHB>;
				resets = <&sysrst SCU1_RESET_PWM>;
				interrupts = <INTR_TACH AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
				status = "disabled";
			};
		};

		udc0: udc@74120000 {
			compatible = "aspeed,udc";
			reg = <0x74120000 0x1000>;
			interrupts = <INTR_USB2C AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			num-bidir-endpoints = <22>;
			clocks = <&sysclk SCU1_CLK_GATE_PORTCUSB2CLK>;
			resets = <&sysrst SCU1_RESET_PORTC_VHUB_EHCI>;
			pinctrl-0 = <pinctrl_usb2ad_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		udc1: udc@74122000 {
			compatible = "aspeed,udc";
			reg = <0x74122000 0x1000>;
			interrupts = <INTR_USB2D AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			num-bidir-endpoints = <22>;
			clocks = <&sysclk SCU1_CLK_GATE_PORTDUSB2CLK>;
			resets = <&sysrst SCU1_RESET_PORTD_VHUB_EHCI>;
			pinctrl-0 = <pinctrl_usb2bd_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		peci: peci@74c1f000 {
			compatible = "aspeed,peci";
			reg = <0x74c1f000 0x100>;
			interrupts = <INTR_PECI AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_AHB>;
			resets = <&sysrst SCU1_RESET_PECI>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2cfilter: i2c-filter@74c14000 {
			compatible = "aspeed,i2c-filter";
			reg = <0x74c14000 0x1000>;
			clocks = <&sysclk SCU1_CLK_APB>;
			interrupts = <INTR_I2C_F0 AST10X0_G2_IRQ_DEFAULT_PRIORITY>,
						 <INTR_I2C_F1 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			pinctrl-0 = <pinctrl_smbflt1_default pinctrl_smbflt2_default>;
			pinctrl-names = "default";
			status = "disabled";
			i2cfilter0: i2cfilter0 {
				index = <0>;
				clock = <100>;
			};
			i2cfilter1: i2cfilter1 {
				index = <1>;
				clock = <100>;
			};
		};

		mbxctrl: swmbx-ctrl {
			compatible = "aspeed,swmbx-ctrl";
			size = <256>;
			status = "disabled";
		};

		i2c_gr: i2c-global-regs@74c0f000 {
			compatible = "aspeed,i2c-global";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0f000 0x100>;
			clocks = <&sysclk SCU1_CLK_APB>;
			resets = <&sysrst SCU1_RESET_I2C>;
			clk-divider = <0xC6411208>;
		};

		i2c0: i2c@74c0f100 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0f100 0x100>;
			interrupts = <INTR_I2C0 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c0_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c1: i2c@74c0f200 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0f200 0x100>;
			interrupts = <INTR_I2C1 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c1_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c2: i2c@74c0f300 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0f300 0x100>;
			interrupts = <INTR_I2C2 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c2_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c3: i2c@74c0f400 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0f400 0x100>;
			interrupts = <INTR_I2C3 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c3_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c4: i2c@74c0f500 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0f500 0x100>;
			interrupts = <INTR_I2C4 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c4_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c5: i2c@74c0f600 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0f600 0x100>;
			interrupts = <INTR_I2C5 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c5_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c6: i2c@74c0f700 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0f700 0x100>;
			interrupts = <INTR_I2C6 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c6_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c7: i2c@74c0f800 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0f800 0x100>;
			interrupts = <INTR_I2C7 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c7_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c8: i2c@74c0f900 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0f900 0x100>;
			interrupts = <INTR_I2C8 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c8_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c9: i2c@74c0fa00 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0fa00 0x100>;
			interrupts = <INTR_I2C9 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c9_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c10: i2c@74c0fb00 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0fb00 0x100>;
			interrupts = <INTR_I2C10 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c10_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c11: i2c@74c0fc00 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0fc00 0x100>;
			interrupts = <INTR_I2C11 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c11_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c12: i2c@74c0fd00 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0fd00 0x100>;
			interrupts = <INTR_I2C12 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c12_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c13: i2c@74c0fe00 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74c0fe00 0x100>;
			interrupts = <INTR_I2C13 1>;
			clocks = <&sysclk SCU1_CLK_APB>;
			xfer-mode = "DMA";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <pinctrl_i2c13_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i3c0: i3c@74c20000 {
			compatible = "aspeed,g7-i3c-hci";
			reg = <0x74c20000 0x1000>;
			interrupts = <INTR_I3C0 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_GATE_I3C0CLK>;
			resets = <&sysrst SCU1_RESET_I3C0>, <&sysrst SCU1_RESET_I3CDMA>;
			reset-names = "core", "dma";
			i2c-scl-hz = <1000000>;
			i3c-scl-hz = <12500000>;
			io-mode = "pio";
			pinctrl-0 = <pinctrl_i3c0_default>;
			pinctrl-names = "default";
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		i3c1: i3c@74c21000 {
			compatible = "aspeed,g7-i3c-hci";
			reg = <0x74c21000 0x1000>;
			interrupts = <INTR_I3C1 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_GATE_I3C1CLK>;
			resets = <&sysrst SCU1_RESET_I3C1>, <&sysrst SCU1_RESET_I3CDMA>;
			reset-names = "core", "dma";
			i2c-scl-hz = <1000000>;
			i3c-scl-hz = <12500000>;
			io-mode = "pio";
			pinctrl-0 = <pinctrl_i3c1_default>;
			pinctrl-names = "default";
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		i3c2: i3c@74c22000 {
			compatible = "aspeed,g7-i3c-hci";
			reg = <0x74c22000 0x1000>;
			interrupts = <INTR_I3C2 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_GATE_I3C2CLK>;
			resets = <&sysrst SCU1_RESET_I3C2>, <&sysrst SCU1_RESET_I3CDMA>;
			reset-names = "core", "dma";
			i2c-scl-hz = <1000000>;
			i3c-scl-hz = <12500000>;
			io-mode = "pio";
			pinctrl-0 = <pinctrl_i3c2_default>;
			pinctrl-names = "default";
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		i3c3: i3c@74c23000 {
			compatible = "aspeed,g7-i3c-hci";
			reg = <0x74c23000 0x1000>;
			interrupts = <INTR_I3C3 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_GATE_I3C3CLK>;
			resets = <&sysrst SCU1_RESET_I3C3>, <&sysrst SCU1_RESET_I3CDMA>;
			reset-names = "core", "dma";
			i2c-scl-hz = <1000000>;
			i3c-scl-hz = <12500000>;
			io-mode = "pio";
			pinctrl-0 = <pinctrl_i3c3_default>;
			pinctrl-names = "default";
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		i3c4: i3c@74c24000 {
			compatible = "aspeed,g7-i3c-hci";
			reg = <0x74c24000 0x1000>;
			interrupts = <INTR_I3C4 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_GATE_I3C4CLK>;
			resets = <&sysrst SCU1_RESET_I3C4>, <&sysrst SCU1_RESET_I3CDMA>;
			reset-names = "core", "dma";
			i2c-scl-hz = <1000000>;
			i3c-scl-hz = <12500000>;
			io-mode = "pio";
			pinctrl-0 = <pinctrl_i3c4_default>;
			pinctrl-names = "default";
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		i3c5: i3c@74c25000 {
			compatible = "aspeed,g7-i3c-hci";
			reg = <0x74c25000 0x1000>;
			interrupts = <INTR_I3C5 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_GATE_I3C5CLK>;
			resets = <&sysrst SCU1_RESET_I3C5>, <&sysrst SCU1_RESET_I3CDMA>;
			reset-names = "core", "dma";
			i2c-scl-hz = <1000000>;
			i3c-scl-hz = <12500000>;
			io-mode = "pio";
			pinctrl-0 = <pinctrl_i3c5_default>;
			pinctrl-names = "default";
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		i3c6: i3c@74c26000 {
			compatible = "aspeed,g7-i3c-hci";
			reg = <0x74c26000 0x1000>;
			interrupts = <INTR_I3C6 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_GATE_I3C6CLK>;
			resets = <&sysrst SCU1_RESET_I3C6>, <&sysrst SCU1_RESET_I3CDMA>;
			reset-names = "core", "dma";
			i2c-scl-hz = <1000000>;
			i3c-scl-hz = <12500000>;
			io-mode = "pio";
			pinctrl-0 = <pinctrl_i3c6_default>;
			pinctrl-names = "default";
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		i3c7: i3c@74c27000 {
			compatible = "aspeed,g7-i3c-hci";
			reg = <0x74c27000 0x1000>;
			interrupts = <INTR_I3C7 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_GATE_I3C7CLK>;
			resets = <&sysrst SCU1_RESET_I3C7>, <&sysrst SCU1_RESET_I3CDMA>;
			reset-names = "core", "dma";
			i2c-scl-hz = <1000000>;
			i3c-scl-hz = <12500000>;
			io-mode = "pio";
			pinctrl-0 = <pinctrl_i3c7_default>;
			pinctrl-names = "default";
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		gpio0: gpio@74c0b000 {
			compatible = "aspeed,ast10x0-g2-gpio", "aspeed,g7-gpio";
			reg = <0x74c0b000 0x1000>;
			interrupts = <INTR_GPIO AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_AHB>;
			ngpios = <216>;
			status = "disabled";

			gpio0_0_31: gpio0_0_31 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <0>;
			};
			gpio0_32_63: gpio0_32_63 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <32>;
				gpio-reserved = <0xf0000000>;
			};
			gpio0_64_95: gpio0_64_95 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <64>;
			};
			gpio0_96_127: gpio0_96_127 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <96>;
			};
			gpio0_128_159: gpio0_128_159 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <128>;
			};
			gpio0_160_191: gpio0_160_191 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <160>;
			};
			gpio0_192_215: gpio0_192_215 {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <24>;
				pin-offset = <192>;
			};
		};

		sgpiom0: sgpiom@74c0c000 {
			compatible = "aspeed,ast10x0-g2-sgpiom", "aspeed,g7-sgpiom";
			reg = <0x74c0c000 0x100>;
			interrupts = <INTR_SGPIO0 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_APB>;
			aspeed,bus-freq = <12000000>;
			ngpios = <256>;
			status = "disabled";

			sgpiom0_0_31: sgpiom0_0_31 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <0>;
			};
			sgpiom0_32_63: sgpiom0_32_63 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <32>;
			};
			sgpiom0_64_95: sgpiom0_64_95 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <64>;
			};
			sgpiom0_96_127: sgpiom0_96_127 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <96>;
			};
			sgpiom0_128_159: sgpiom0_128_159 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <128>;
			};
			sgpiom0_160_191: sgpiom0_160_191 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <160>;
			};
			sgpiom0_192_223: sgpiom0_192_223 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <192>;
			};
			sgpiom0_224_255: sgpiom0_224_255 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <224>;
			};
		};

		wdt0: wdt@74c37000 {
			compatible = "aspeed,ast10x0-g2-watchdog";
			reg = <0x74c37000 0x80>;
			aspeed,scu = <&syscon>;
			interrupts = <INTR_WDT0 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			reset-mask = <0x000019ec 0x2010e803 0x003e0000>;
			status = "disabled";
		};

		wdt1: wdt@74c37080 {
			compatible = "aspeed,ast10x0-g2-watchdog";
			reg = <0x74c37080 0x80>;
			aspeed,scu = <&syscon>;
			interrupts = <INTR_WDT1 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			reset-mask = <0x000019ec 0x2010e803 0x003e0000>;
			status = "disabled";
		};

		wdt2: wdt@74c37100 {
			compatible = "aspeed,ast10x0-g2-watchdog";
			reg = <0x74c37100 0x80>;
			aspeed,scu = <&syscon>;
			interrupts = <INTR_WDT2 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			reset-mask = <0x000019ec 0x2010e803 0x003e0000>;
			status = "disabled";
		};

		wdt3: wdt@74c37180 {
			compatible = "aspeed,ast10x0-g2-watchdog";
			reg = <0x74c37180 0x80>;
			aspeed,scu = <&syscon>;
			interrupts = <INTR_WDT3 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			reset-mask = <0x000019ec 0x2010e803 0x003e0000>;
			status = "disabled";
		};

		wdt4: wdt@74c37200 {
			compatible = "aspeed,ast10x0-g2-watchdog";
			reg = <0x74c37200 0x80>;
			aspeed,scu = <&syscon>;
			interrupts = <INTR_WDT4 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			reset-mask = <0x000019ec 0x2010e803 0x003e0000>;
			status = "disabled";
		};

		wdt5: wdt@74c37280 {
			compatible = "aspeed,ast10x0-g2-watchdog";
			reg = <0x74c37280 0x80>;
			aspeed,scu = <&syscon>;
			interrupts = <INTR_WDT5 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			reset-mask = <0x000019ec 0x2010e803 0x003e0000>;
			status = "disabled";
		};

		wdt6: wdt@74c37300 {
			compatible = "aspeed,ast10x0-g2-watchdog";
			reg = <0x74c37300 0x80>;
			aspeed,scu = <&syscon>;
			interrupts = <INTR_WDT6 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			reset-mask = <0x000019ec 0x2010e803 0x003e0000>;
			status = "disabled";
		};

		wdt7: wdt@74c37380 {
			compatible = "aspeed,ast10x0-g2-watchdog";
			reg = <0x74c37380 0x80>;
			aspeed,scu = <&syscon>;
			interrupts = <INTR_WDT7 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			reset-mask = <0x000019ec 0x2010e803 0x003e0000>;
			status = "disabled";
		};

		sgpiom1: sgpiom@74c0d000 {
			compatible = "aspeed,ast10x0-g2-sgpiom", "aspeed,g7-sgpiom";
			reg = <0x74c0d000 0x100>;
			interrupts = <INTR_SGPIO1 AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_APB>;
			aspeed,bus-freq = <12000000>;
			ngpios = <256>;
			status = "disabled";

			sgpiom1_0_31: sgpiom1_0_31 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <0>;
			};
			sgpiom1_32_63: sgpiom1_32_63 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <32>;
			};
			sgpiom1_64_95: sgpiom1_64_95 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <64>;
			};
			sgpiom1_96_127: sgpiom1_96_127 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <96>;
			};
			sgpiom1_128_159: sgpiom1_128_159 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <128>;
			};
			sgpiom1_160_191: sgpiom1_160_191 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <160>;
			};
			sgpiom1_192_223: sgpiom1_192_223 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <192>;
			};
			sgpiom1_224_255: sgpiom1_224_255 {
				#gpio-cells = <2>;
				gpio-controller;
				pin-offset = <224>;
			};
		};

		fmc: spi@74000000 {
			compatible = "aspeed,ast10x0-g2-spi-controller";
			reg = <0x74000000 0x300>, <0x80000000 0x10000000>;
			reg-names = "ctrl_reg", "spi_mmap";
			interrupts = <INTR_FMC AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_AHB>;
			pinctrl-0 = <pinctrl_fwspi_quad_default>;
			pinctrl-names = "default";
			num-cs = <2>;
			ctrl-type = "bspi";
			#address-cells = <1>;
			#size-cells = <0>;
			spi-ctrl-caps-mask = <0x000e0e0c>;
			status = "disabled";

			fmc_cs0: fmc@0 {
				compatible = "jedec,spi-nor";
				reg = <0>;
				spi-max-buswidth = <1>;
				spi-max-frequency = <25000000>;
				jedec-id = [];
				write-block-size = <4096>;
				status = "okay";
			};
		};

		espi0: espi@74c05000 {
			compatible = "aspeed,espi-ast1040", "aspeed,espi-v2";
			reg = <0x74c05000 0x1000>;
			interrupts = <INTR_ESPI_GLOBAL AST10X0_G2_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk SCU1_CLK_AHB>;
			aspeed,scu = <&syscon>;
			status = "disabled";
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <3>;
};

#include "ast10x0-g2-pinctrl.dtsi"

