/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2021 ASPEED Technology Inc.
 */

#include <arm/armv7-m.dtsi>
#include <mem.h>
#include <aspeed/ast10x0-irq.h>
#include <dt-bindings/clock/ast1030_clock.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4f";
			reg = <0>;
		};
	};

	sram0: memory@0 {
		compatible = "mmio-sram";
	};

	flash0: flash@20000000 {
		compatible = "serial-flash";
		label = "FLASH_ASPEED";
		erase-block-size = <4096>;
		write-block-size = <1>;
	};

	soc {
		syscon: syscon@7e6e2000 {
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0x7e6e2000 0x1000>;
			ranges = <0 0x7e6e2000 0x1000>;
			sysclk: sysclk {
				compatible = "aspeed,ast1030-clk";
				#clock-cells = <1>;
				label = "SYSCLK";
			};

			sysrst: sysrst {
				compatible = "aspeed,ast1030-rst";
				#reset-cells = <1>;
				label = "SYSRST";
			};
			pinmux: pinmux {
				compatible = "aspeed,ast1030-pinmux";
			};
		};

		uart0: serial@7e783000 {
			compatible = "ns16550";
			reg = <0x7e783000 0x1000>;
			interrupts = <INTR_UART1 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_0";
		};

		uart1: serial@7e78d000 {
			compatible = "ns16550";
			reg = <0x7e78d000 0x100>;
			interrupts = <INTR_UART2 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_1";
		};

		uart2: serial@7e78e000 {
			compatible = "ns16550";
			reg = <0x7e78e000 0x100>;
			interrupts = <INTR_UART3 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_2";
		};

		uart3: serial@7e78f000 {
			compatible = "ns16550";
			reg = <0x7e78f000 0x100>;
			interrupts = <INTR_UART4 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_3";
		};

		uart4: serial@7e784000 {
			compatible = "ns16550";
			reg = <0x7e784000 0x1000>;
			interrupts = <INTR_UART5 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_4";
		};

		uart5: serial@7e790000 {
			compatible = "ns16550";
			reg = <0x7e790000 0x100>;
			interrupts = <INTR_UART6 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_5";
		};

		uart6: serial@7e790100 {
			compatible = "ns16550";
			reg = <0x7e790100 0x100>;
			interrupts = <INTR_UART7 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_6";
		};

		uart7: serial@7e790200 {
			compatible = "ns16550";
			reg = <0x7e790200 0x100>;
			interrupts = <INTR_UART8 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_7";
		};

		uart8: serial@7e790300 {
			compatible = "ns16550";
			reg = <0x7e790300 0x100>;
			interrupts = <INTR_UART9 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_8";
		};

		uart9: serial@7e790400 {
			compatible = "ns16550";
			reg = <0x7e790400 0x100>;
			interrupts = <INTR_UART10 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_9";
		};

		uart10: serial@7e790500 {
			compatible = "ns16550";
			reg = <0x7e790500 0x100>;
			interrupts = <INTR_UART11 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_10";
		};

		uart11: serial@7e790600 {
			compatible = "ns16550";
			reg = <0x7e790600 0x100>;
			interrupts = <INTR_UART12 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_11";
		};

		uart12: serial@7e790700 {
			compatible = "ns16550";
			reg = <0x7e790700 0x100>;
			interrupts = <INTR_UART13 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
			label = "UART_12";
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <3>;
};
