/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2021 ASPEED Technology Inc.
 */

#include <arm/armv7-m.dtsi>
#include <mem.h>
#include <aspeed/ast10x0-irq.h>
#include <zephyr/dt-bindings/clock/ast10x0_clock.h>
#include <zephyr/dt-bindings/reset/ast10x0_reset.h>
#include <zephyr/dt-bindings/otp/ast10x0_otp.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4f";
			reg = <0>;
		};
	};

	sram0: memory@0 {
		compatible = "mmio-sram";
	};

	soc {
		syscon: syscon@7e6e2000 {
			compatible = "syscon";
			reg = <0x7e6e2000 0x1000>;
			sysclk: sysclk {
				compatible = "aspeed,ast10x0-clock";
				#clock-cells = <1>;
			};

			sysrst: sysrst {
				compatible = "aspeed,ast10x0-reset";
				#reset-cells = <1>;
			};

			pinctrl: pinctrl {
				compatible = "aspeed,pinctrl";
			};

			pinmux: pinmux {
				compatible = "aspeed,pinmux";
			};
		};

		udc: udc@7e6a2000 {
			compatible = "aspeed,udc";
			reg = <0x7e6a2000 0x1000>;
			interrupts = <INTR_USBDEV AST10X0_IRQ_DEFAULT_PRIORITY>;
			num-bidir-endpoints = <5>;
			resets = <&sysrst ASPEED_RESET_USB>;
			label = "UDC";
			status = "disabled";
		};

		hace: hace@7e6d0000 {
			compatible = "aspeed,hace";
			reg = <0x7e6d0000 0x200
				0x7e6f2800 0x10>;
			clocks = <&sysclk ASPEED_CLK_YCLK>;
			resets = <&sysrst ASPEED_RESET_HACE>;
			status = "disabled";
		};

		rng: hwrng@7e6e2530 {
			compatible = "aspeed,hwrng";
			reg = <0x7e6e2530 0x10>;
		};

		espi: espi@7e6ee000 {
			compatible = "aspeed,espi";
			reg = <0x7e6ee000 0x800>;
			interrupts = <INTR_ESPI AST10X0_IRQ_DEFAULT_PRIORITY>;
			aspeed,scu = <&syscon>;
			status = "disabled";
		};

		rsa: rsa@7e6f2000 {
			compatible = "aspeed,rsa";
			reg = <0x7e6f2000 0x100
				0x79000000 0x1800>;
			clocks = <&sysclk ASPEED_CLK_RSACLK>;
			status = "disabled";
		};

		ecdsa: ecdsa@7e6f2000 {
			compatible = "aspeed,ecdsa";
			reg = <0x7e6f2000 0x100
				0x79000000 0x2400>;
			status = "disabled";
		};

		otp: otp@7e6f2000 {
			compatible = "aspeed,otp";
			reg = <0x7e6f2000 0x80>;
			otpcfg = <>;
			otpstrap = <>;
		};

		uart5: serial@7e784000 {
			compatible = "ns16550";
			reg = <0x7e784000 0x1000>;
			interrupts = <8 0>;
			clocks = <&sysclk ASPEED_CLK_UART5>;
			status = "disabled";
			reg-shift = <2>;
		};

		lpc: lpc@7e789000 {
			compatible = "aspeed,lpc";
			reg = <0x7e789000 0x1000>;

			kcs1: kcs1 {
				compatible = "aspeed,kcs";
				interrupts = <INTR_KCS1 AST10X0_IRQ_DEFAULT_PRIORITY>;
				chan = <1>;
				status = "disabled";
			};

			kcs2: kcs2 {
				compatible = "aspeed,kcs";
				interrupts = <INTR_KCS2 AST10X0_IRQ_DEFAULT_PRIORITY>;
				chan = <2>;
				status = "disabled";
			};

			kcs3: kcs3 {
				compatible = "aspeed,kcs";
				interrupts = <INTR_KCS3 AST10X0_IRQ_DEFAULT_PRIORITY>;
				chan = <3>;
				status = "disabled";
			};

			kcs4: kcs4 {
				compatible = "aspeed,kcs";
				interrupts = <INTR_KCS4 AST10X0_IRQ_DEFAULT_PRIORITY>;
				chan = <4>;
				status = "disabled";
			};

			bt: bt {
				compatible = "aspeed,bt";
				interrupts = <INTR_BT AST10X0_IRQ_DEFAULT_PRIORITY>;
				status = "disabled";
			};

			snoop: snoop {
				compatible = "aspeed,snoop";
				interrupts = <INTR_SNOOP AST10X0_IRQ_DEFAULT_PRIORITY>;
				status = "disabled";
			};

			mbox: mbox {
				compatible = "aspeed,mbox";
				interrupts = <INTR_MBOX AST10X0_IRQ_DEFAULT_PRIORITY>;
				status = "disabled";
			};

			pcc: pcc {
				compatible = "aspeed,pcc";
				interrupts = <INTR_PCC AST10X0_IRQ_DEFAULT_PRIORITY>;
				status = "disabled";
			};
		};

		i2c_gr: i2c-global-regs@7e7b0000 {
			compatible = "aspeed,i2c-global";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0000 0x20>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			resets = <&sysrst ASPEED_RESET_I2C>;
			clk-divider = <0x62220803>;
		};

		i2c0: i2c@7e7b0080 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0080 0x80>;
			interrupts = <INTR_I2C0 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c0_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c1: i2c@7e7b0100 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0100 0x80>;
			interrupts = <INTR_I2C1 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c1_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c2: i2c@7e7b0180 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0180 0x80>;
			interrupts = <INTR_I2C2 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c2_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c3: i2c@7e7b0200 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0200 0x80>;
			interrupts = <INTR_I2C3 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c3_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c4: i2c@7e7b0280 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0280 0x80>;
			interrupts = <INTR_I2C4 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c4_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c5: i2c@7e7b0300 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0300 0x80>;
			interrupts = <INTR_I2C5 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c5_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c6: i2c@7e7b0380 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0380 0x80>;
			interrupts = <INTR_I2C6 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c6_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c7: i2c@7e7b0400 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0400 0x80>;
			interrupts = <INTR_I2C7 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c7_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c8: i2c@7e7b0480 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0480 0x80>;
			interrupts = <INTR_I2C8 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c8_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c9: i2c@7e7b0500 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0500 0x80>;
			interrupts = <INTR_I2C9 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c9_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c10: i2c@7e7b0580 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0580 0x80>;
			interrupts = <INTR_I2C10 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c10_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c11: i2c@7e7b0600 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0600 0x80>;
			interrupts = <INTR_I2C11 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c11_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c12: i2c@7e7b0680 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0680 0x80>;
			interrupts = <INTR_I2C12 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c12_default>;
			pinctrl-names = "default";
			status = "disabled";
		};

		i2c13: i2c@7e7b0700 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e7b0700 0x80>;
			interrupts = <INTR_I2C13 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_PCLK>;
			xfer-mode = "DMA";
			multi-master = <1>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c13_default>;
			pinctrl-names = "default";
			status = "disabled";
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <3>;
};

#include "ast10x0-pinctrl.dtsi"
