/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2021 ASPEED Technology Inc.
 */

#include <arm/armv7-m.dtsi>
#include <mem.h>
#include <dt-bindings/i2c/i2c.h>
#include <aspeed/ast10x0-irq.h>
#include <dt-bindings/clock/ast26xx_clock.h>
#include <dt-bindings/reset/ast26xx_reset.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m3";
			reg = <0>;
		};
	};

	sdram0: memory@0 {
		device_type = "memory";
	};

	flash0: flash@20000000 {
		compatible = "serial-flash";
		label = "FLASH_ASPEED";
		erase-block-size = <4096>;
		write-block-size = <1>;
	};

	soc {
		syscon: syscon@7e6e2000 {
			reg = <0x7e6e2000 0x1000>;
			sysclk: sysclk {
				compatible = "aspeed,ast26xx-clk";
				#clock-cells = <1>;
				label = "SYSCLK";
			};

			sysrst: sysrst {
				compatible = "aspeed,aspeed-rst";
				#reset-cells = <1>;
				label = "SYSRST";
			};
			pinmux: pinmux {
				compatible = "aspeed,pinmux";
				label = "PINMUX";
			};
		};

		ipc: ipc@7e6c0000 {
			compatible = "aspeed,ast2600-ipc";
			reg = <0x7e6c0000 0x100>;
			interrupts = <182 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <183 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <184 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <185 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <186 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <187 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <188 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <189 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <190 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <191 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <192 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <193 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <194 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <195 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <196 AST10X0_IRQ_DEFAULT_PRIORITY>;
			label = "IPC";
		};

		gpio0: gpio@7e780000 {
			compatible = "aspeed,gpio";
			reg = <0x7e780000 0x400>;
			interrupts = <72 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			gpio0_a_d: gpio0_a_d {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				aspeed,cmd-src = <2>;
				label = "GPIO0_A_D";
				pin-offset = <0>;
			};

			gpio0_e_h: gpio0_e_h {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				aspeed,cmd-src = <2>;
				label = "GPIO0_E_H";
				pin-offset = <32>;
			};

			gpio0_i_l: gpio0_i_l {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				aspeed,cmd-src = <2>;
				label = "GPIO0_I_L";
				pin-offset = <64>;
			};

			gpio0_m_p: gpio0_m_p {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				aspeed,cmd-src = <2>;
				label = "GPIO0_M_P";
				pin-offset = <96>;
			};

			gpio0_q_t: gpio0_q_t {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <32>;
				aspeed,cmd-src = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				label = "GPIO0_Q_T";
				pin-offset = <128>;
			};

			gpio0_u_x: gpio0_u_x {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				aspeed,cmd-src = <2>;
				label = "GPIO0_U_X";
				pin-offset = <160>;
			};

			gpio0_y_z: gpio0_y_z {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <16>;
				interrupt-controller;
				#interrupt-cells = <2>;
				aspeed,cmd-src = <2>;
				label = "GPIO0_Y_Z";
				pin-offset = <192>;
			};
		};

		sgpiom0: sgpiom@7e780500 {
			compatible = "aspeed,sgpiom";
			reg = <0x7e780500 0x100>;
			interrupts = <51 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			pinctrl-0 = <&pinctrl_sgpiom0_default>;
			ngpios = <128>;
			status = "disabled";
			sgpiom0_a_d: sgpiom0_a_d {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				label = "SGPIOM0_A_D";
				pin-offset = <0>;
			};

			sgpiom0_e_h: sgpiom0_e_h {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				label = "SGPIOM0_E_H";
				pin-offset = <32>;
			};

			sgpiom0_i_l: sgpiom0_i_l {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				label = "SGPIOM0_I_L";
				pin-offset = <64>;
			};

			sgpiom0_m_p: sgpiom0_m_p {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				label = "SGPIOM0_M_P";
				pin-offset = <96>;
			};
		};

		sgpiom1: sgpiom@7e780600 {
			compatible = "aspeed,sgpiom";
			reg = <0x7e780600 0x100>;
			interrupts = <70 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			pinctrl-0 = <&pinctrl_sgpiom1_default>;
			ngpios = <80>;
			status = "disabled";
			sgpiom1_a_d: sgpiom0_a_d {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				label = "SGPIOM1_A_D";
				pin-offset = <0>;
			};

			sgpiom1_e_h: sgpiom0_e_h {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				label = "SGPIOM1_E_H";
				pin-offset = <32>;
			};

			sgpiom1_i_l: sgpiom0_i_l {
				#gpio-cells = <2>;
				gpio-controller;
				ngpios = <16>;
				interrupt-controller;
				#interrupt-cells = <2>;
				label = "SGPIOM1_I_L";
				pin-offset = <64>;
			};
		};

		uart11: serial@7e790500 {
			compatible = "aspeed,uart";
			reg = <0x7e790500 0x100>;
			interrupts = <INTR_UART11 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_GATE_UART11CLK>;
			status = "disabled";
			pinctrl-0 = <&pinctrl_uart11_default>;
			label = "UART_11";
		};

		udma: udma@7e79e000 {
			compatible = "aspeed,udma";
			interrupts = <INTR_UARTDMA AST10X0_IRQ_DEFAULT_PRIORITY>;
			reg = <0x7e79e000 0x1000>;
		};

		i2c_gr: i2c-global-regs@7e78a000 {
			compatible = "aspeed,i2c-global";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a000 0x20>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			resets = <&sysrst ASPEED_RESET_I2C>;
			clk-divider = <0xC6411208>;
			label = "I2C_GLOBAL";
		};

		i2c0: i2c@7e78a080 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a080 0x80>;
			interrupts = <INTR_I2C0 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c0_default>;
			status = "disabled";
			label = "I2C_0";
		};

		i2c1: i2c@7e78a100 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a100 0x80>;
			interrupts = <INTR_I2C1 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c1_default>;
			status = "disabled";
			label = "I2C_1";
		};

		i2c2: i2c@7e78a180 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a180 0x80>;
			interrupts = <INTR_I2C2 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c2_default>;
			status = "disabled";
			label = "I2C_2";
		};

		i2c3: i2c@7e78a200 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a200 0x80>;
			interrupts = <INTR_I2C3 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c3_default>;
			status = "disabled";
			label = "I2C_3";
		};

		i2c4: i2c@7e78a280 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a280 0x80>;
			interrupts = <INTR_I2C4 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c4_default>;
			status = "disabled";
			label = "I2C_4";
		};

		i2c5: i2c@7e78a300 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a300 0x80>;
			interrupts = <INTR_I2C5 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c5_default>;
			status = "disabled";
			label = "I2C_5";
		};

		i2c6: i2c@7e78a380 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a380 0x80>;
			interrupts = <INTR_I2C6 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c6_default>;
			status = "disabled";
			label = "I2C_6";
		};

		i2c7: i2c@7e78a400 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a400 0x80>;
			interrupts = <INTR_I2C7 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c7_default>;
			status = "disabled";
			label = "I2C_7";
		};

		i2c8: i2c@7e78a480 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a480 0x80>;
			interrupts = <INTR_I2C8 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c8_default>;
			status = "disabled";
			label = "I2C_8";
		};

		i2c9: i2c@7e78a500 {
			compatible = "aspeed,i2c";
			 clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a500 0x80>;
			interrupts = <INTR_I2C9 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c9_default>;
			status = "disabled";
			label = "I2C_9";
		};

		i2c10: i2c@7e78a580 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a580 0x80>;
			interrupts = <INTR_I2C10 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c10_default>;
			status = "disabled";
			label = "I2C_10";
		};

		i2c11: i2c@7e78a600 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a600 0x80>;
			interrupts = <INTR_I2C11 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c11_default>;
			status = "disabled";
			label = "I2C_11";
		};

		i2c12: i2c@7e78a680 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a680 0x80>;
			interrupts = <INTR_I2C12 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c12_default>;
			status = "disabled";
			label = "I2C_12";
		};

		i2c13: i2c@7e78a700 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a700 0x80>;
			interrupts = <INTR_I2C13 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c13_default>;
			status = "disabled";
			label = "I2C_13";
		};

		i2c14: i2c@7e78a780 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a780 0x80>;
			interrupts = <INTR_I2C14 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c14_default>;
			status = "disabled";
			label = "I2C_14";
		};

		i2c15: i2c@7e78a800 {
			compatible = "aspeed,i2c";
			clock-frequency = <I2C_BITRATE_FAST>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7e78a800 0x80>;
			interrupts = <INTR_I2C15 AST10X0_IRQ_DEFAULT_PRIORITY>;
			clocks = <&sysclk ASPEED_CLK_APB2>;
			xfer-mode = "BUFF";
			multi-master = <0>;
			smbus-timeout = <1>;
			manual-high-count = <0>;
			manual-low-count = <0>;
			manual-sda-delay = <0>;
			pinctrl-0 = <&pinctrl_i2c15_default>;
			status = "disabled";
			label = "I2C_15";
		};

		i3c: bus@7e7a0000 {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 0x7e7a0000 0x8000>;
		};
	};
};
#include "aspeed/ast26xx-pinctrl.dtsi"
&nvic {
	arm,num-irq-priority-bits = <3>;
};

&i3c {
	i3c_gr: i3c-global-regs@0 {
		compatible = "aspeed,i3c-global";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x0 0x100>;
		resets = <&sysrst ASPEED_RESET_I3C>;
		ni3cs = <6>;
		status = "disabled";
	};

	i3c0: i3c0@2000 {
		compatible = "aspeed,i3c";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x2000 0x1000>;
		interrupts = <102 0>;
		resets = <&sysrst ASPEED_RESET_I3C0>;
		clocks = <&sysclk ASPEED_CLK_GATE_I3C0CLK>;
		i2c-scl-hz = <1000000>;
		i3c-scl-hz = <12500000>;
		i3c-pp-scl-hi-period-ns = <40>;
		i3c-pp-scl-lo-period-ns = <40>;
		i3c-od-scl-hi-period-ns = <380>;
		i3c-od-scl-lo-period-ns = <620>;
		sda-tx-hold-ns = <10>;
		instance-id = <0>;
		pinctrl-0 = <&pinctrl_i3c0_default>;
		status = "disabled";
		label = "I3C_0";
	};

	i3c1: i3c1@3000 {
		compatible = "aspeed,i3c";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x3000 0x1000>;
		interrupts = <103 0>;
		resets = <&sysrst ASPEED_RESET_I3C1>;
		clocks = <&sysclk ASPEED_CLK_GATE_I3C1CLK>;
		i2c-scl-hz = <1000000>;
		i3c-scl-hz = <12500000>;
		i3c-pp-scl-hi-period-ns = <40>;
		i3c-pp-scl-lo-period-ns = <40>;
		i3c-od-scl-hi-period-ns = <380>;
		i3c-od-scl-lo-period-ns = <620>;
		sda-tx-hold-ns = <10>;
		instance-id = <1>;
		pinctrl-0 = <&pinctrl_i3c1_default>;
		status = "disabled";
		label = "I3C_1";
	};

	i3c2: i3c2@4000 {
		compatible = "aspeed,i3c";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x4000 0x1000>;
		interrupts = <104 0>;
		resets = <&sysrst ASPEED_RESET_I3C2>;
		clocks = <&sysclk ASPEED_CLK_GATE_I3C2CLK>;
		i2c-scl-hz = <1000000>;
		i3c-scl-hz = <12500000>;
		i3c-pp-scl-hi-period-ns = <40>;
		i3c-pp-scl-lo-period-ns = <40>;
		i3c-od-scl-hi-period-ns = <380>;
		i3c-od-scl-lo-period-ns = <620>;
		sda-tx-hold-ns = <10>;
		instance-id = <2>;
		status = "disabled";
		label = "I3C_2";
	};

	i3c3: i3c3@5000 {
		compatible = "aspeed,i3c";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x5000 0x1000>;
		interrupts = <105 0>;
		resets = <&sysrst ASPEED_RESET_I3C3>;
		clocks = <&sysclk ASPEED_CLK_GATE_I3C3CLK>;
		i2c-scl-hz = <1000000>;
		i3c-scl-hz = <12500000>;
		i3c-pp-scl-hi-period-ns = <40>;
		i3c-pp-scl-lo-period-ns = <40>;
		i3c-od-scl-hi-period-ns = <380>;
		i3c-od-scl-lo-period-ns = <620>;
		sda-tx-hold-ns = <10>;
		instance-id = <3>;
		status = "disabled";
		label = "I3C_3";
	};

	i3c4: i3c4@6000 {
		compatible = "aspeed,i3c";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x6000 0x1000>;
		interrupts = <106 0>;
		resets = <&sysrst ASPEED_RESET_I3C4>;
		clocks = <&sysclk ASPEED_CLK_GATE_I3C4CLK>;
		i2c-scl-hz = <1000000>;
		i3c-scl-hz = <12500000>;
		i3c-pp-scl-hi-period-ns = <40>;
		i3c-pp-scl-lo-period-ns = <40>;
		i3c-od-scl-hi-period-ns = <380>;
		i3c-od-scl-lo-period-ns = <620>;
		sda-tx-hold-ns = <10>;
		instance-id = <4>;
		pinctrl-0 = <&pinctrl_hvi3c4_default>;
		status = "disabled";
		label = "I3C_4";
	};

	i3c5: i3c5@7000 {
		compatible = "aspeed,i3c";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x7000 0x1000>;
		interrupts = <107 0>;
		resets = <&sysrst ASPEED_RESET_I3C5>;
		clocks = <&sysclk ASPEED_CLK_GATE_I3C5CLK>;
		i2c-scl-hz = <1000000>;
		i3c-scl-hz = <12500000>;
		i3c-pp-scl-hi-period-ns = <40>;
		i3c-pp-scl-lo-period-ns = <40>;
		i3c-od-scl-hi-period-ns = <380>;
		i3c-od-scl-lo-period-ns = <620>;
		sda-tx-hold-ns = <10>;
		instance-id = <5>;
		pinctrl-0 = <&pinctrl_hvi3c5_default>;
		status = "disabled";
		label = "I3C_5";
	};
};
