/dts-v1/;
#include "ast27xx.dtsi"

/ {
	aliases {
		cache = &ssp_cache;
		intc = &intc_global;
		intc1 = &intc1_global;
	};

	soc {
		hace: hace@72070000 {
			compatible = "aspeed,hace";
			reg = <0x72070000 0x200 0x72c1F000 0x10>;
			clocks = <&sysclk0 SCU0_CLK_GATE_HACCLK>;
			resets = <&sysrst0 SCU0_RESET_HACE>;
			status = "disabled";
		};

		intc0_11: interrupt-controller@72102b00 {
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x72102b00 0x10>;
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			interrupt-parent = <&nvic>;
			interrupts = <160 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <161 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <162 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <163 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <164 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <165 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		intc1_0: interrupt-controller@74c18180 {
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x74c18180 0x10>;
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			interrupt-parent = <&intc0_11>;
			interrupts = <0 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		intc1_1: interrupt-controller@74c18190 {
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x74c18190 0x10>;
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			interrupt-parent = <&intc0_11>;
			interrupts = <1 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		intc1_2: interrupt-controller@74c181a0 {
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x74c181a0 0x10>;
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			interrupt-parent = <&intc0_11>;
			interrupts = <2 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		intc1_3: interrupt-controller@74c181b0 {
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x74c181b0 0x10>;
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			interrupt-parent = <&intc0_11>;
			interrupts = <3 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		intc1_4: interrupt-controller@74c181c0 {
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x74c181c0 0x10>;
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			interrupt-parent = <&intc0_11>;
			interrupts = <4 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		intc1_5: interrupt-controller@74c181d0 {
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x74c181d0 0x10>;
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			interrupt-parent = <&intc0_11>;
			interrupts = <5 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		fmc: spi@74000000 {
			compatible = "aspeed,ast2700-spi-controller";
			reg = <0x74000000 0x300>, <0x20000000 0x10000000>;
			reg-names = "ctrl_reg", "spi_mmap";
			interrupt-parent = <&intc1_3>;
			interrupts = <25 1>;
			clocks = <&sysclk1 SCU1_CLK_AHB>;
			pinctrl-0 = <pinctrl_fwspi_quad_default>;
			pinctrl-names = "default";
			num-cs = <2>;
			ctrl-type = "bspi";
			#address-cells = <1>;
			#size-cells = <0>;
			spi-ctrl-caps-mask = <0x000e0e0c>;
			spi-ctrl-fifo-enabled;
			status = "disabled";
		};

		spim0: spim_common@74000400 {
			compatible = "aspeed,spi-monitor-controller";
			reg = <0x74000400 0x1000>;
			aspeed,scu = <&syscon1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";

			spim1: spim@1 {
				interrupt-parent = <&intc1_4>;
				interrupts = <23 1>;
				reg = <1>;
				status = "disabled";
			};
		};
	};
};

&ssp_cache {
	status = "okay";
};

&intc_global {
	irq-route-select = "ssp";
};

&intc1_global {
	irq-route-select = "ssp";
};

&ipc0 {
	ipc0_s_ca35: ipc0@0 {
		compatible = "aspeed,ast2700-ipc";
		reg = <0x0 0x200>;
		reg-tx-offset = <0x100>;
		reg-rx-offset = <0>;
		interrupts = <100 1>;
		status = "disabled";
	};

	ipc0_ns_ca35: ipc0@200 {
		compatible = "aspeed,ast2700-ipc";
		reg = <0x200 0x200>;
		reg-tx-offset = <0x100>;
		reg-rx-offset = <0>;
		interrupts = <102 1>;
		status = "disabled";
	};

	ipc0_tsp: ipc0@800 {
		compatible = "aspeed,ast2700-ipc";
		reg = <0x800 0x200>;
		reg-tx-offset = <0x0>;
		reg-rx-offset = <0x100>;
		interrupts = <109 1>;
		status = "disabled";
	};
};

&ipc1 {
	ipc1_bootmcu: ipc1@400 {
		compatible = "aspeed,ast2700-ipc";
		reg = <0x400 0x200>;
		reg-tx-offset = <0x0>;
		reg-rx-offset = <0x100>;
		interrupt-parent = <&intc1_5>;
		interrupts = <19 1>;
		status = "disabled";
	};
};

&rng {
	status = "okay";
};

&fmc {
	status = "okay";

	fmc_cs0: fmc@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-buswidth = <4>;
		spi-max-frequency = <50000000>;
		jedec-id = [];
		status = "okay";
	};

	fmc_cs1: fmc@1 {
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-max-buswidth = <4>;
		spi-max-frequency = <50000000>;
		jedec-id = [];
		status = "okay";
	};
};
