/dts-v1/;
#include "ast27xx.dtsi"

/ {
	aliases {
		cache = &ssp_cache;
		intc = &intc_global;
		intc1 = &intc1_global;
	};

	soc {
		intc0_11: interrupt-controller@72102b00 {
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x72102b00 0x10>;
			interrupt-parent = <&nvic>;
			interrupts = <160 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <161 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <162 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <163 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <164 AST10X0_IRQ_DEFAULT_PRIORITY>,
				     <165 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		intc1_0: interrupt-controller@74c18180 {
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x74c18180 0x10>;
			interrupt-parent = <&intc0_11>;
			interrupts = <0 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		intc1_1: interrupt-controller@74c18190 {
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x74c18190 0x10>;
			interrupt-parent = <&intc0_11>;
			interrupts = <1 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		intc1_2: interrupt-controller@74c181a0 {
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x74c181a0 0x10>;
			interrupt-parent = <&intc0_11>;
			interrupts = <2 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		intc1_3: interrupt-controller@74c181b0 {
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x74c181b0 0x10>;
			interrupt-parent = <&intc0_11>;
			interrupts = <3 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		intc1_4: interrupt-controller@74c181c0 {
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x74c181c0 0x10>;
			interrupt-parent = <&intc0_11>;
			interrupts = <4 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};

		intc1_5: interrupt-controller@74c181d0 {
			#address-cells = <1>;
			#interrupt-cells = <2>;
			interrupt-controller;
			compatible = "aspeed,ast2700-intc-ic";
			reg = <0x74c181d0 0x10>;
			interrupt-parent = <&intc0_11>;
			interrupts = <5 AST10X0_IRQ_DEFAULT_PRIORITY>;
			status = "disabled";
		};
	};
};

&ssp_cache {
	status = "okay";
};

&intc_global {
	irq-route-select = "ssp";
};

&intc1_global {
	irq-route-select = "ssp";
};

&ipc0 {
	ipc0_s_ca35: ipc0@0 {
		compatible = "aspeed,ast2700-ipc";
		reg = <0x0 0x200>;
		reg-tx-offset = <0x100>;
		reg-rx-offset = <0>;
		interrupts = <100 1>;
		status = "disabled";
	};

	ipc0_ns_ca35: ipc0@200 {
		compatible = "aspeed,ast2700-ipc";
		reg = <0x200 0x200>;
		reg-tx-offset = <0x100>;
		reg-rx-offset = <0>;
		interrupts = <102 1>;
		status = "disabled";
	};

	ipc0_tsp: ipc0@800 {
		compatible = "aspeed,ast2700-ipc";
		reg = <0x800 0x200>;
		reg-tx-offset = <0x0>;
		reg-rx-offset = <0x100>;
		interrupts = <109 1>;
		status = "disabled";
	};
};

&ipc1 {
	ipc1_bootmcu: ipc1@400 {
		compatible = "aspeed,ast2700-ipc";
		reg = <0x400 0x200>;
		reg-tx-offset = <0x0>;
		reg-rx-offset = <0x100>;
		interrupt-parent = <&intc1_5>;
		interrupts = <19 1>;
		status = "disabled";
	};
};
