/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) ASPEED Technology Inc.
 */
#include <zephyr/dt-bindings/pinctrl/ast27xx-soc1-pinctrl.h>

&pinctrl1 {
	/omit-if-no-ref/ pin_txd0: pin_txd0 {
		ball = <AC16>;
		sig_descs = <SIG_DESC(0x410, 24, 1)>;
	};
	/omit-if-no-ref/ pin_rxd0: pin_rxd0 {
		ball = <AF16>;
		sig_descs = <SIG_DESC(0x410, 28, 1)>;
	};

	/omit-if-no-ref/ pin_txd6: pin_txd6 {
		ball = <AC17>;
		sig_descs = <SIG_DESC(0x418, 24, 1)>;
	};
	/omit-if-no-ref/ pin_rxd6: pin_rxd6 {
		ball = <AD17>;
		sig_descs = <SIG_DESC(0x418, 28, 1)>;
	};

	/omit-if-no-ref/ pin_txd7: pin_txd7 {
		ball = <AE16>;
		sig_descs = <SIG_DESC(0x41c, 0, 1)>;
	};
	/omit-if-no-ref/ pin_rxd7: pin_rxd7 {
		ball = <AE17>;
		sig_descs = <SIG_DESC(0x41c, 4, 1)>;
	};
};
