# Copyright (c) 2021 ASPEED Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config GPIO_ASPEED
	bool "ASPEED GPIO Controllers"
	depends on SOC_FAMILY_ASPEED
	select DYNAMIC_INTERRUPTS
	help
	  Enable config options to support the ASPEED GPIO controllers.

config GPIO_ASPEED_INIT_PRIORITY
	int "Init priority"
	depends on GPIO_ASPEED
	default 60
	help
	  Device driver initialization priority.
