# SPDX-License-Identifier: Apache-2.0
#
# Aspeed AST2700 FPGA board configuration
#
# Copyright (c) 2023 Aspeed Technology Inc.

if BOARD_AST2700_FPGA_AST2700_SSP
config BOARD
	default "ast2700_fpga_ssp"
endif # BOARD_AST2700_FPGA_AST2700_SSP

if BOARD_AST2700_FPGA_AST2700_TSP
config BOARD
	default "ast2700_fpga_tsp"
endif # BOARD_AST2700_FPGA_AST2700_TSP

if BOARD_AST2700_FPGA_AST2700_IBEX
config BOARD
	default "ast2700_fpga_ibex"
endif # BOARD_AST2700_FPGA_AST2700_IBEX

config ASPEED_FPGA
	bool "ASPEED FPGA Board"
