# SPDX-License-Identifier: Apache-2.0
#
# Aspeed AST2700 FPGA board configuration
#
# Copyright (c) 2023 Aspeed Technology Inc.

config BOARD_AST2700_FPGA
	select SOC_AST2700_SSP if BOARD_AST2700_FPGA_AST2700_SSP
	select SOC_AST2700_TSP if BOARD_AST2700_FPGA_AST2700_TSP
