# eSPI configuration options

# Copyright (c) 2019 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig IPMI
	bool "IPMI Driver"
	help
	  Enable IPMI Driver.

if IPMI

source "drivers/ipmi/Kconfig.aspeed"

endif # IPMI
