# Copyright (c) 2023 ASPEED Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config IPM_AST2700
	bool "ASPEED AST2700 IPM driver"
	default y
	depends on DT_HAS_ASPEED_AST2700_IPC_ENABLED
	help
	  This option enables the IPM driver for ASPEED AST2700 series SOC.
