/*
 * Copyright (c) 2021 ASPEED Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <aspeed/ast10x0.dtsi>

/ {
	model = "Aspeed BIC AST1030 board";
	compatible = "aspeed,bic-ast1030", "aspeed,ast1030";

	chosen {
		zephyr,console = &uart4;
		zephyr,shell = &uart4;
		zephyr,sram = &sram_c;
		zephyr,sram_nc = &sram_nc;
		zephyr,flash = &flash0;
	};
};

&flash0 {
	reg = <0x20000000 DT_SIZE_K(512)>;
};

&sram0 {
	reg = <0 DT_SIZE_K(768)>;
	#address-cells = <1>;
	#size-cells = <1>;
	sram_c:memory@0 {
		compatible = "mmio-sram";
		reg = <0 0x70000>;
	};
	sram_nc:memory@70000 {
		compatible = "mmio-sram";
		reg = <0x70000 0x50000>;
	};
};

&uart4 {
	clock-frequency = <1846153>;
	current-speed = <115200>;
	status = "okay";
};
