&fmc {
	status = "okay";
};

&fmc_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		slot0_partition: partition@0 {
			label = "image-0";
			reg = <0x0 0x100000>;
		};
		slot1_partition: partition@1 {
		       label = "image-1";
		       reg = <0x0 0x100000>;
	       };
	};
};

&fmc_cs1 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&spi1 {
	status = "okay";
};

&spi1_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&spi1_cs1 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&spi2 {
	status = "okay";
};

&spi2_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&spi2_cs1 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&i2cfilter {
	status = "okay";
};

&mbxctrl {
	status = "okay";
};

&i2c0 {
	status = "okay";

	eeprom0: eeprom@40 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x40>;
		size = <256>;
	};

	ipmb0: ipmb@50 {
		compatible = "aspeed,ipmb";
		reg = <0x50>;
		size = <5>;
	};

	swmbx0: swmbx@60 {
		compatible = "aspeed,swmbx-dev";
		reg = <0x60>;
		size = <256>;
		port = <0>;
	};
};

&i2c1 {
	status = "okay";

	eeprom1: eeprom@41 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x41>;
		size = <256>;
	};

	ipmb1: ipmb@51 {
		compatible = "aspeed,ipmb";
		reg = <0x51>;
		size = <5>;
	};

	swmbx1: swmbx@61 {
		compatible = "aspeed,swmbx-dev";
		reg = <0x61>;
		size = <256>;
		port = <0>;
	};
};

&i2c2 {
	status = "okay";

	eeprom2: eeprom@42 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x42>;
		size = <256>;
	};

	ipmb2: ipmb@52 {
		compatible = "aspeed,ipmb";
		reg = <0x52>;
		size = <5>;
	};
};

&i2c3 {
	status = "okay";

	eeprom3: eeprom@43 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x43>;
		size = <256>;
	};

	ipmb3: ipmb@53 {
		compatible = "aspeed,ipmb";
		reg = <0x53>;
		size = <5>;
	};
};

&i2c4 {
	status = "okay";

	eeprom4: eeprom@44 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x44>;
		size = <256>;
	};

	ipmb4: ipmb@54 {
		compatible = "aspeed,ipmb";
		reg = <0x54>;
		size = <5>;
	};
};

&i2c5 {
	status = "okay";

	eeprom5: eeprom@45 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x45>;
		size = <256>;
	};

	ipmb5: ipmb@55 {
		compatible = "aspeed,ipmb";
		reg = <0x55>;
		size = <5>;
	};
};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};

&wdt4 {
	status = "okay";
};

/*
 * i3c0-to-i3c1 Loopback:
 * i3c0 plays the role as the bus controller
 * i3c1 plays the rols as the target device
 *
 * In I3C shell command, the following devices will be found:
 * i3c@7e7a2000 -> i3c0 controller
 * i3cdev@7ec80011000 -> the i3c device attached to i3c0 controller
 *
 * i3c@7e7a2000 -> i3c1 controller
 * i3c-tmq@7ec80011000 -> i3c target mqueue device
 */
&i3c0 {
	status = "okay";
	sda-tx-hold-ns = <20>;
	i3c-pp-scl-hi-period-ns = <250>;
	i3c-pp-scl-lo-period-ns = <250>;

	i3cdev@7ec80011000 {
		compatible = "i3c-dummy-device";
		reg = <0x0 0x7ec 0x80011000>;
		status = "okay";
	};
};

&i3c1 {
	secondary;
	status = "okay";

	i3c-tmq@7ec80011000 {
		compatible = "i3c-target-mqueue";
		reg = <0x0 0x7ec 0x80011000>;
		msg-size = <128>;
		num-of-msgs = <4>;
		mandatory-data-byte = <0xbf>;
		status = "okay";
	};
};

&adc0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc0_default &pinctrl_adc1_default
		&pinctrl_adc2_default &pinctrl_adc3_default
		&pinctrl_adc4_default &pinctrl_adc5_default
		&pinctrl_adc6_default &pinctrl_adc7_default>;
};

&adc1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc8_default &pinctrl_adc9_default
		&pinctrl_adc10_default &pinctrl_adc11_default
		&pinctrl_adc12_default &pinctrl_adc13_default
		&pinctrl_adc14_default &pinctrl_adc15_default>;
};

&pwm {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default
			&pinctrl_pwm2_default &pinctrl_pwm3_default
			&pinctrl_pwm4_default &pinctrl_pwm5_default
			&pinctrl_pwm6_default &pinctrl_pwm7_default
			&pinctrl_pwm8_default &pinctrl_pwm9_default
			&pinctrl_pwm10_default &pinctrl_pwm11_default
			&pinctrl_pwm12_default &pinctrl_pwm13_default
			&pinctrl_pwm14_default &pinctrl_pwm15_default>;

};
