&i2c0 {
	status = "okay";

	eeprom0: eeprom@40 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x40>;
		size = <256>;
	};

	ipmb0: ipmb@50 {
		compatible = "aspeed,ipmb";
		reg = <0x50>;
		size = <5>;
	};
};

&i2c1 {
	status = "okay";

	eeprom1: eeprom@41 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x41>;
		size = <256>;
	};

	ipmb1: ipmb@51 {
		compatible = "aspeed,ipmb";
		reg = <0x51>;
		size = <5>;
	};
};

&i2c2 {
	status = "okay";

	eeprom2: eeprom@42 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x42>;
		size = <256>;
	};

	ipmb2: ipmb@52 {
		compatible = "aspeed,ipmb";
		reg = <0x52>;
		size = <5>;
	};
};

&i2c3 {
	status = "okay";

	eeprom3: eeprom@43 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x43>;
		size = <256>;
	};

	ipmb3: ipmb@53 {
		compatible = "aspeed,ipmb";
		reg = <0x53>;
		size = <5>;
	};
};

&i2c4 {
	status = "okay";

	eeprom4: eeprom@44 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x44>;
		size = <256>;
	};

	ipmb4: ipmb@54 {
		compatible = "aspeed,ipmb";
		reg = <0x54>;
		size = <5>;
	};
};

&i2c5 {
	status = "okay";

	eeprom5: eeprom@45 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x45>;
		size = <256>;
	};

	ipmb5: ipmb@55 {
		compatible = "aspeed,ipmb";
		reg = <0x55>;
		size = <5>;
	};
};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};

&wdt4 {
	status = "okay";
};
