# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2021 Aspeed Technology Inc.
#
CONFIG_SOC_SERIES_AST10X0=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=200000000
CONFIG_MAIN_STACK_SIZE=4096
CONFIG_BOOTLOADER_SRAM_SIZE=0
CONFIG_FLASH_SIZE=0
CONFIG_FLASH_BASE_ADDRESS=0x0
CONFIG_XIP=n
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_HEAP_MEM_POOL_SIZE=50000
CONFIG_CLOCK_CONTROL=y
CONFIG_RESET=y
CONFIG_PINCTRL=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_ASPEED=y
CONFIG_CRYPTO_ASPEED_HASH_DRV_NAME="HASH_ASPEED"
CONFIG_CRYPTO_ASPEED_DRV_NAME="CRYPTO_ASPEED"
CONFIG_GPIO=y
CONFIG_GPIO_SHELL=y
CONFIG_GPIO_ASPEED=y
CONFIG_RSA_ASPEED=y
CONFIG_ECDSA_ASPEED=y
CONFIG_MBEDTLS=y
CONFIG_MBEDTLS_KEY_EXCHANGE_DHE_RSA_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDH_ECDSA_ENABLED=y
CONFIG_MBEDTLS_ECDH_C=y
CONFIG_MBEDTLS_ECDSA_C=y
CONFIG_MBEDTLS_ECP_C=y
CONFIG_MBEDTLS_ECP_DP_SECP384R1_ENABLED=y
CONFIG_COMMON_LIBC_MALLOC_ARENA_SIZE=8192
CONFIG_SHELL_STACK_SIZE=4096
