/*
 * Copyright (c) 2021 ASPEED Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <aspeed/ast10x0.dtsi>

/ {
	model = "Aspeed AST1030 Evaluation board";
	compatible = "aspeed,bic-ast1030", "aspeed,ast1030";

	chosen {
		zephyr,console = &uart4;
		zephyr,shell = &uart4;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};

&flash0 {
	reg = <0x20000000 DT_SIZE_K(512)>;
};

&sram0 {
	reg = <0 DT_SIZE_K(448)>, <0x70000 DT_SIZE_K(320)>;
};

&uart4 {
	status = "okay";
};

&pwm {
	status = "okay";
	pinctrl-0 = <&pinctrl_pwm0_default
			&pinctrl_pwm1_default
			&pinctrl_pwm2_default
			&pinctrl_pwm3_default
			&pinctrl_pwm4_default
			&pinctrl_pwm5_default
			&pinctrl_pwm6_default
			&pinctrl_pwm7_default
			&pinctrl_pwm8_default
			&pinctrl_pwm9_default
			&pinctrl_pwm10_default
			&pinctrl_pwm11_default
			&pinctrl_pwm12_default
			&pinctrl_pwm13_default
			&pinctrl_pwm14_default
			&pinctrl_pwm15_default>;
};

&adc0 {
	status = "okay";
	pinctrl-0 = <&pinctrl_adc0_default &pinctrl_adc1_default
		&pinctrl_adc2_default &pinctrl_adc3_default
		&pinctrl_adc4_default &pinctrl_adc5_default
		&pinctrl_adc6_default &pinctrl_adc7_default>;
};

&adc1 {
	status = "okay";
	pinctrl-0 = <&pinctrl_adc8_default &pinctrl_adc9_default
		&pinctrl_adc10_default &pinctrl_adc11_default
		&pinctrl_adc12_default &pinctrl_adc13_default
		&pinctrl_adc14_default &pinctrl_adc15_default>;
};

&jtag1{
	status = "okay";
};

&tach {
	status = "okay";
	pinctrl-0 = <&pinctrl_tach0_default
			&pinctrl_tach1_default
			&pinctrl_tach2_default
			&pinctrl_tach3_default
			&pinctrl_tach4_default
			&pinctrl_tach5_default
			&pinctrl_tach6_default
			&pinctrl_tach7_default
			&pinctrl_tach8_default
			&pinctrl_tach9_default
			&pinctrl_tach10_default
			&pinctrl_tach11_default
			&pinctrl_tach12_default
			&pinctrl_tach13_default
			&pinctrl_tach14_default
			&pinctrl_tach15_default>;

	fan@0 {
		reg = <0x0>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN0";
	};

};

&i2c0 {
	status = "okay";

	eeprom@40 {
		compatible = "atmel,at24";
		reg = <0x40>;
		label = "EEPROM_SLAVE_0";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
		status = "okay";
	};

	ipmb@50 {
		compatible = "aspeed,ipmb";
		reg = <0x50>;
		label = "IPMB_SLAVE_0";
		size = <5>;
		status = "okay";
	};
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&espi {
	status = "okay";

	perif,dma-mode;
	perif,memcyc-src-addr = <0x98000000>;
	perif,memcyc-size = <0x10000>;

	oob,dma-mode;

	flash,dma-mode;
	flash,safs-mode = <0x1>;
};

&udc {
	status = "okay";
};
