CONFIG_CACHE_ASPEED=y
CONFIG_GPIO=y
CONFIG_SPI=y
CONFIG_I2C=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=200000000
CONFIG_UART_NS16550=y
CONFIG_CLOCK_CONTROL=y
CONFIG_FLASH_SIZE=0
CONFIG_FLASH_BASE_ADDRESS=0x0
CONFIG_BOOTLOADER_SRAM_SIZE=0
CONFIG_SOC_SERIES_AST10X0=y
CONFIG_NUM_PREEMPT_PRIORITIES=56
CONFIG_MAIN_STACK_SIZE=4096
# CONFIG_BOOT_BANNER is not set
CONFIG_THREAD_RUNTIME_STATS=y
# CONFIG_XIP is not set
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_ASPEED=y
CONFIG_GPIO_SHELL=y
CONFIG_GPIO_ASPEED=y
CONFIG_SPI_ASPEED=y
CONFIG_I2C_SLAVE=y
CONFIG_I2C_EEPROM_SLAVE=y
CONFIG_I2C_ASPEED=y
CONFIG_PWM=y
CONFIG_PWM_ASPEED=y
CONFIG_PINMUX=y
CONFIG_PINMUX_ASPEED=y
CONFIG_ADC=y
CONFIG_ADC_ASPEED=y
CONFIG_CLOCK_CONTROL_AST10X0=y
CONFIG_RESET_CONTROL=y
CONFIG_RESET_CONTROL_ASPEED=y
CONFIG_JTAG=y
CONFIG_JTAG_ASPEED=y
CONFIG_FLASH=y
# CONFIG_FLASH_PAGE_LAYOUT is not set
CONFIG_SPI_NOR=y
CONFIG_SENSOR=y
CONFIG_TACH_ASPEED=y
CONFIG_USB=y
CONFIG_HWINFO=y
CONFIG_ESPI=y
CONFIG_ESPI_ASPEED=y
CONFIG_PECI=y
CONFIG_PECI_ASPEED=y
CONFIG_PECI_ASPEED_INTERRUPT_DRIVEN=y
CONFIG_MINIMAL_LIBC_MALLOC_ARENA_SIZE=16384
CONFIG_REBOOT=y
CONFIG_POSIX_CLOCK=y
CONFIG_STACK_SENTINEL=y
CONFIG_EARLY_CONSOLE=y
CONFIG_LOG=y
CONFIG_LOG_BACKEND_UART=y
CONFIG_CMSIS_RTOS_V2=y
CONFIG_SHELL=y
CONFIG_UART_SHELL_ON_DEV_NAME="UART_5"
CONFIG_USB_CDC_ACM=y
