/*
 * Copyright (c) 2021 ASPEED Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <aspeed/ast10x0.dtsi>

/ {
	model = "Aspeed BIC AST1030 board";
	compatible = "aspeed,bic-ast1030", "aspeed,ast1030";

	chosen {
		zephyr,console = &uart4;
		zephyr,shell = &uart4;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};

&flash0 {
	reg = <0x20000000 DT_SIZE_K(512)>;
};

&sram0 {
	reg = <0 DT_SIZE_K(448)>, <0x70000 DT_SIZE_K(320)>;
};

&uart4 {
	status = "okay";
};

&pwm {
	status = "okay";
};

&adc0 {
	status = "okay";
};

&adc1 {
	status = "okay";
};

&jtag1{
	status = "okay";
};

&tach {
	status = "okay";

	fan@0 {
		reg = <0x0>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN0";
	};

};

&i2c0 {
	status = "okay";

	eeprom@40 {
		compatible = "atmel,at24";
		reg = <0x40>;
		label = "EEPROM_SLAVE_0";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
		status = "okay";
	};

	ipmb@50 {
		compatible = "aspeed,ipmb";
		reg = <0x50>;
		label = "IPMB_SLAVE_0";
		size = <5>;
		status = "okay";
	};
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&espi {
	status = "okay";

	perif,dma-mode;
	perif,memcyc-src-addr = <0x98000000>;
	perif,memcyc-size = <0x10000>;

	oob,dma-mode;

	flash,dma-mode;
	flash,safs-mode = <0x1>;
};

&udc {
	status = "okay";
};
