# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 Aspeed Technology Inc.
#
CONFIG_SOC_SERIES_AST27X0=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=24000000
CONFIG_MAIN_STACK_SIZE=4096
CONFIG_BOOTLOADER_SRAM_SIZE=0
CONFIG_FLASH_SIZE=0
CONFIG_FLASH_BASE_ADDRESS=0x0
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_RESET=y
CONFIG_CLOCK_CONTROL=y
CONFIG_HEAP_MEM_POOL_SIZE=50000
# Use polling mode for ns16550 driver.  Enable interrupt mode when aspeed driver is ready
CONFIG_SHELL_BACKEND_SERIAL_INTERRUPT_DRIVEN=n
CONFIG_IPM=y
CONFIG_BOARD_AST2700_SSP_FPGA=y
CONFIG_SHELL_PROMPT_UART="ssp:~$ "
