CONFIG_SOC_SERIES_AST10X0=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=200000000
CONFIG_SOC_AST1060=y
CONFIG_CACHE_ASPEED=y
CONFIG_MAIN_STACK_SIZE=4096
CONFIG_FLASH_SIZE=0
CONFIG_FLASH_BASE_ADDRESS=0x0
CONFIG_XIP=n
CONFIG_HWINFO=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_NS16550=y
CONFIG_HEAP_MEM_POOL_SIZE=50000
CONFIG_CLOCK_CONTROL=y
CONFIG_RESET=y
CONFIG_PINCTRL=y
# For CMSIS
CONFIG_POLL=y
CONFIG_GPIO=y
CONFIG_GPIO_SHELL=y
CONFIG_GPIO_ASPEED=y
CONFIG_THREAD_NAME=y
CONFIG_THREAD_STACK_INFO=y
CONFIG_THREAD_MONITOR=y
CONFIG_INIT_STACKS=y
CONFIG_NUM_PREEMPT_PRIORITIES=56
CONFIG_CMSIS_RTOS_V2=y
CONFIG_COMMON_LIBC_MALLOC_ARENA_SIZE=8192
CONFIG_SHELL_STACK_SIZE=4096
# For CMSIS
CONFIG_POLL=y
CONFIG_THREAD_NAME=y
CONFIG_THREAD_STACK_INFO=y
CONFIG_THREAD_MONITOR=y
CONFIG_INIT_STACKS=y
CONFIG_NUM_PREEMPT_PRIORITIES=56
CONFIG_CMSIS_RTOS_V2=y
CONFIG_CMSIS_V2_EVT_FLAGS_MAX_COUNT=64
CONFIG_CRYPTO=y
CONFIG_CRYPTO_ASPEED=y
CONFIG_CRYPTO_ASPEED_HASH_DRV_NAME="HASH_ASPEED"
CONFIG_CRYPTO_ASPEED_DRV_NAME="CRYPTO_ASPEED"
CONFIG_RSA_ASPEED=y
CONFIG_ECDSA_ASPEED=y
CONFIG_OTP_ASPEED=y
