/*
 * Copyright (c) 2021 ASPEED Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <aspeed/ast10x0.dtsi>

/ {
	model = "Aspeed AST1060 Evaluation board";
	compatible = "aspeed,bic-ast1030", "aspeed,ast1030";

	chosen {
		zephyr,console = &uart5;
		zephyr,shell-uart = &uart5;
		zephyr,sram = &sram0;
	};
};

&sram0 {
	reg = <0 DT_SIZE_K(448)>, <0x70000 DT_SIZE_K(320)>;
};

&uart5 {
	clock-frequency = <1846153>;
	current-speed = <115200>;
	status = "okay";
};

&fmc {
	status = "okay";
};

&fmc_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&fmc_cs1 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};


/* Use AST1060 SPI1 as the internal SPI master to
 * to access the SPI flashes connected to SPI monitors
 * Here,
 * "SPI1_CS0" used to access flash connected to SPI_Monitor_1,
 * "SPI1_CS1" is used to access flash connected to SPI_Monitor_2,
 * "SPI1_CS2" is used to access flash connected to SPI_Monitor_3,
 * "SPI1_CS3" is used to access flash connected to SPI_Monitor_4.
 */

&spi1_cs0 {
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
	reg = <0>;
	status = "okay";
};

&spi1_cs1 {
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
	reg = <1>;
	status = "okay";
};

&spi1 {
	internal-mux-master = <1>;
	spi-monitor-output-base = <1>;
	spi-monitor-common-ctrl = <&spim0>;

	num-cs = <1>;
	status = "okay";

	spi1_cs2: flash@2 {
		compatible = "jedec,spi-nor";
		reg = <2>;
		spi-max-buswidth = <4>;
		spi-max-frequency = <50000000>;
		label = "spi1_cs2";
		status = "okay";
	};

	spi1_cs3: flash@3 {
		compatible = "jedec,spi-nor";
		reg = <3>;
		spi-max-buswidth = <4>;
		spi-max-frequency = <50000000>;
		label = "spi1_cs3";
		status = "okay";
	};

};

