# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 ASPEED Technology Inc.

if SOC_SERIES_AST27X0

source "soc/arm/aspeed/ast27x0/Kconfig.defconfig.ast27*0"

config SOC_SERIES
	default "ast27x0"

config ICACHE_LINE_SIZE
	default 32

config DCACHE_LINE_SIZE
	default 32

choice CACHE_TYPE
	default EXTERNAL_CACHE
endchoice

config XIP
	default y

config LINKER_LAST_SECTION_ID
	default n

endif # SOC_SERIES_AST27X0
