# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 ASPEED Technology Inc.

choice
	prompt "ASPEED AST27X0 Selection"
	depends on SOC_SERIES_AST27X0

config SOC_AST2700
	bool "AST2700"

endchoice

config SRAM_RO_SIZE
	int "Read-only SRAM Size in kB"
	help
	 The cached SRAM has two memory regions: read-only and read-write. This
	 option allows you to configure the size of the read-only region, while
	 the size of the read-write region is determined by subtracting
	 SRAM_RO_SIZE from the total SRAM_SIZE.
