# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 ASPEED Technology Inc.

config SOC_SERIES_AST27XX
	bool
	select SOC_FAMILY_ASPEED

config SOC_SERIES
	default "ast27xx" if SOC_SERIES_AST27XX

config SOC_AST2700
	bool
	select SOC_SERIES_AST27XX

config SOC_AST2700_A1
	bool
	select SOC_SERIES_AST27XX

config SOC_AST2705
	bool
	select SOC_SERIES_AST27XX

config SOC
	default "ast2700" if SOC_AST2700
	default "ast2700-a1" if SOC_AST2700_A1
	default "ast2705" if SOC_AST2705

config SOC_AST2700_SSP
	bool
	select SOC_AST2700
	help
	  Enable support for AST2700 SSP

config SOC_AST2700_TSP
	bool
	select SOC_AST2700
	help
	  Enable support for AST2700 TSP

config SOC_AST2700_BOOTMCU
	bool
	select SOC_AST2700
	help
	  Enable support for AST2700 Boot MCU

config SOC_AST2700_A1_SSP
	bool
	select SOC_AST2700_A1
	help
	  Enable support for ast2700-a1 SSP

config SOC_AST2700_A1_TSP
	bool
	select SOC_AST2700_A1
	help
	  Enable support for ast2700-a1 TSP

config SOC_AST2700_A1_BOOTMCU
	bool
	select SOC_AST2700_A1
	help
	  Enable support for ast2700-a1 Boot MCU

config SOC_AST2705_SSP
	bool
	select SOC_AST2705
	help
	  Enable support for AST2705 SSP

config SOC_AST2705_TSP
	bool
	select SOC_AST2705
	help
	  Enable support for AST2705 TSP

config SOC_AST2705_BOOTMCU
	bool
	select SOC_AST2705
	help
	  Enable support for AST2705 Boot MCU
