# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 ASPEED Technology Inc.

config SOC_SERIES_AST27XX
	bool
	select SOC_FAMILY_ASPEED

config SOC_SERIES
	default "ast27xx" if SOC_SERIES_AST27XX

config SOC_AST2700
	bool
	select SOC_SERIES_AST27XX

config SOC_AST2700_A0
	bool
	select SOC_SERIES_AST27XX

config SOC
	default "ast2700" if SOC_AST2700
	default "ast2700-a0" if SOC_AST2700_A0

config SOC_AST2700_SSP
	bool
	select SOC_AST2700
	help
	  Enable support for AST2700 SSP

config SOC_AST2700_TSP
	bool
	select SOC_AST2700
	help
	  Enable support for AST2700 TSP

config SOC_AST2700_BOOTMCU
	bool
	select SOC_AST2700
	help
	  Enable support for AST2700 Boot MCU

config SOC_AST2700_A0_SSP
	bool
	select SOC_AST2700_A0
	help
	  Enable support for AST2700-A0 SSP

config SOC_AST2700_A0_TSP
	bool
	select SOC_AST2700_A0
	help
	  Enable support for AST2700-A0 TSP

config SOC_AST2700_A0_BOOTMCU
	bool
	select SOC_AST2700_A0
	help
	  Enable support for AST2700-A0 Boot MCU
