# I2C SW Mailbox Slave configuration options

# Copyright (c) 2022 Aspeed Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config I2C_SWMBX_SLAVE
	bool "I2C Slave SW Mailbox driver"
	default n
	help
	  Enable virtual I2C Slave SW Mailbox driver
