# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 Aspeed Technology Inc.
#

# CONFIG_XIP is not set
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_REBOOT=y
# CONFIG_CRYPTO=y
# CONFIG_CPTRA_ECDSA=y
# CONFIG_CPTRA_SHA=y
# CONFIG_CPTRA_UPDATE=y
# CONFIG_CPTRA_IFC=y
# CONFIG_CPTRA_MBOX=y
# CONFIG_CPTRA_LMS=y
# CONFIG_CPTRA_DICE=y
# CONFIG_CPTRA_MISC=y
# CONFIG_CPTRA_IPC=y
# CONFIG_ENTROPY_GENERATOR=y
# CONFIG_ENTROPY_ASPEED_TRNG=y
# CONFIG_IPM=y