# ASPEED HACE driver configuration options

# Copyright (c) 2021 ASPEED Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config CRYPTO_ASPEED
	bool "ASPEED Hash and Crypto engine driver"
	depends on SOC_FAMILY_ASPEED
	help
	  This option enables the HACE driver for ASPEED SoCs.

config RSA_ASPEED
	bool "ASPEED RSA engine driver"
	depends on SOC_FAMILY_ASPEED
	help
	  This option enables the RSA driver for ASPEED SoCs.

config ECDSA_ASPEED
	bool "ASPEED ECDSA engine driver"
	depends on SOC_FAMILY_ASPEED
	select RSA_ASPEED
	help
	  This option enables the ECDSA driver for ASPEED SoCs.

config CPTRA_ECDSA
	bool "ASPEED CPTRA ECDSA engine driver"
	depends on SOC_AST2700_BOOTMCU
	help
	  This option enables the Caliptra ECDSA driver for ASPEED SoCs.

config CPTRA_SHA
	bool "ASPEED CPTRA SHA engine driver"
	depends on SOC_AST2700_BOOTMCU
	help
	  This option enables the Caliptra SHA driver for ASPEED SoCs.

config HASH_SHELL
	bool "Enable Hash Shell"
	depends on CRYPTO_ASPEED || CPTRA_SHA
	depends on SHELL
	help
	  Enable Hash Shell for testing.

config CRYPTO_SHELL
	bool "Enable CRYPTO Shell"
	depends on CRYPTO_ASPEED
	depends on SHELL
	help
	  Enable RSA Shell for testing.

config RSA_SHELL
	bool "Enable RSA Shell"
	depends on RSA_ASPEED
	depends on SHELL
	help
	  Enable RSA Shell for testing.

config ECDSA_SHELL
	bool "Enable ECDSA Shell"
	depends on ECDSA_ASPEED || CPTRA_ECDSA
	depends on MBEDTLS
	depends on SHELL
	help
	  Enable ECDSA Shell for testing.

