#include <zephyr/dt-bindings/spi/ast2700_spim.h>

&spim0 {
	status = "okay";
};

&spim1 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12 3b 3c
				  70 50 eb ec c2];
	addr-priv-configs = <>;
	status = "okay";
};

