&ltpi0{
	status = "okay";
};

&ltpi1{
	status = "okay";
};

/ {
	chosen {
		zephyr,ram-console = &ram_console;
		zephyr,console = &ram_console;
	};

	ram_console: memory@14b8a000 {
		compatible = "zephyr,memory-region";
		reg = <0x14b8a000 0x1000>;
		zephyr,memory-region = "RAM_CONSOLE";
	};

	sram: memory@14ba8000 {
		reg = <0x14ba8000 0x17800>;
	};
};

&fmc {
	status = "okay";
};

&fmc_cs0 {
	status = "okay";
	spi-max-buswidth = <1>;
	spi-max-frequency = <25000000>;
};

&spi0 {
	status = "okay";
	spi-ctrl-fifo-enabled;
};

&spi0_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

