# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2021 ASPEED Technology Inc.

config SOC_FAMILY_ASPEED
	select PLATFORM_SPECIFIC_INIT
	bool

if SOC_FAMILY_ASPEED

config SOC_FAMILY
	string
	default "aspeed"

if SOC_SERIES_AST10X0
source "soc/arm/aspeed/ast10x0/Kconfig.soc"
endif

if SOC_SERIES_AST27X0
source "soc/arm/aspeed/ast27x0/Kconfig.soc"
endif
endif # SOC_FAMILY_ASPEED
