/*
 * Copyright (c) 2024 Aspeed Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	#address-cells = <0x01>;
	#size-cells = <0x01>;
	compatible = "aspeed,ast27xx";

	cpus {
		#address-cells = <0x01>;
		#size-cells = <0x00>;

		cpu@0 {
			device_type = "cpu";
			reg = <0x00>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv32imc_zicsr_zifencei";

			hlic: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#address-cells = <0>;
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};
	};

	dram: memory@80000000 {
		reg = <0x80000000 0x400000>;
	};

	soc0 {
		compatible = "aspeed,soc0", "simple-bus";
		#address-cells = <0x01>;
		#size-cells = <0x01>;
		ranges;

		syscon0: syscon@12c02000 {
			compatible = "syscon";
			reg = <0x12c02000 0x1000>;

			sysrst0: reset-controller {
				compatible = "aspeed,ast27xx-reset";
				#reset-cells = <1>;
			};

			sysclk0: system-clock {
				compatible = "aspeed,ast27xx-scu0-clock";
				#clock-cells = <1>;
			};
		};

		emmc: sdhci@12090000 {
			compatible = "aspeed,sdhci";
			reg = <0x12090000 0x200>;
			status = "disabled";
		};
	};

	soc1 {
		compatible = "aspeed,soc1", "simple-bus";
		#address-cells = <0x01>;
		#size-cells = <0x01>;
		ranges;

		syscon1: syscon@14c02000 {
			compatible = "syscon";
			reg = <0x14c02000 0x1000>;

			sysrst1: reset-controller {
				compatible = "aspeed,ast27xx-reset";
				#reset-cells = <1>;
			};

			sysclk1: system-clock {
				compatible = "aspeed,ast27xx-scu1-clock";
				#clock-cells = <1>;
			};

		};

		rng: hwrng@14c020f0 {
			compatible = "aspeed,hwrng";
			reg = <0x14c020f0 0x8>;
		};

		uart12: serial@14c33b00 {
			compatible = "ns16550";
			reg = <0x14c33b00 0x100>;
			reg-shift = <2>;
			status = "disabled";
		};

		systick: timer@14c36000 {
			compatible = "aspeed,ast2700-bootmcu-timer";
			reg = <0x14c36000 0x40>;
			interrupt-parent = <&hlic>;
			interrupts = <7 0>;
		};

		cptra_mbox: cptra-mbox@14c60000 {
			compatible = "aspeed,cptra-mbox";
			reg = <0x14c60000 0x1000
			       0x14c70000 0x1000>;
			aspeed,scu = <&syscon1>;

			cptra_ecdsa: cptra-ecdsa {
				compatible = "aspeed,cptra-ecdsa";
				status = "disabled";
			};

			cptra_update: cptra-update {
				compatible = "aspeed,cptra-update";
				status = "disabled";
			};
		};

		cptra_sha: cptra-sha@14c61000 {
			compatible = "aspeed,cptra-sha";
			reg = <0x14c61000 0x1000>;
			aspeed,scu = <&syscon1>;
			status = "disabled";
		};

		cptra_ifc: cptra-ifc@14c70000 {
			compatible = "aspeed,cptra-ifc";
			reg = <0x14c70000 0x1000>;
		};

		fmc: spi@14000000 {
			compatible = "aspeed,spi-controller";
			reg = <0x14000000 0xc4>, <0x20000000 0x10000000>;
			reg-names = "ctrl_reg", "spi_mmap";
			num-cs = <1>;
			ctrl-type = "bspi";
			#address-cells = <1>;
			#size-cells = <0>;
			spi-ctrl-caps-mask = <0x000e0e0c>;

			fmc_cs0: fmc@0 {
				compatible = "jedec,spi-nor";
				reg = <0>;
				spi-max-buswidth = <1>;
				spi-max-frequency = <25000000>;
				jedec-id = [];
				write-block-size = <4096>;
			};
		};

		wdt0: wdt@14c37000 {
			compatible = "aspeed,ast-watchdog-g7";
			reg = <0x14c37000 0x80>;
			reset-mask= <0x0203e779 0x000003f6 0x000093ec 0x00303803 0x00020000>;
		};
	};
};
