/*
 * Copyright (c) 2024 Aspeed Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	#address-cells = <0x01>;
	#size-cells = <0x01>;
	compatible = "aspeed,ast27xx";

	cpus {
		#address-cells = <0x01>;
		#size-cells = <0x00>;

		cpu@0 {
			device_type = "cpu";
			reg = <0x00>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv32imc_zicsr_zifencei";

			hlic: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#address-cells = <0>;
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};
	};

	dram: memory@80000000 {
		reg = <0x80000000 0x400000>;
	};

	soc0 {
		compatible = "aspeed,soc0", "simple-bus";
		#address-cells = <0x01>;
		#size-cells = <0x01>;
		ranges;

		emmc: sdhci@12090000 {
			compatible = "aspeed,sdhci";
			reg = <0x12090000 0x200>;
			status = "disabled";
		};
	};

	soc1 {
		compatible = "aspeed,soc1", "simple-bus";
		#address-cells = <0x01>;
		#size-cells = <0x01>;
		ranges;

		syscon1: syscon@14c02000 {
			compatible = "syscon";
			reg = <0x14c02000 0x1000>;
		};

		rng: hwrng@14c020f0 {
			compatible = "aspeed,hwrng";
			reg = <0x14c020f0 0x8>;
		};

		uart12: serial@14c33b00 {
			compatible = "ns16550";
			reg = <0x14c33b00 0x100>;
			reg-shift = <2>;
			status = "disabled";
		};

		systick: timer@14c36000 {
			compatible = "aspeed,ast2700-ibex-timer";
			reg = <0x14c36000 0x40>;
			interrupt-parent = <&hlic>;
			interrupts = <7 0>;
		};

		cptra_ecdsa: cptra-ecdsa@14c60000 {
			compatible = "aspeed,cptra-ecdsa";
			reg = <0x14c60000 0x1000>;
			aspeed,scu = <&syscon1>;
			status = "disabled";
		};

		cptra_sha: cptra-sha@14c61000 {
			compatible = "aspeed,cptra-sha";
			reg = <0x14c61000 0x1000>;
			aspeed,scu = <&syscon1>;
			status = "disabled";
		};
	};
};
